[project]
name = "qCradle"
version = "0.0.0"
description = "CLI to create repos"
readme = "README.md"
authors = [{ name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com" }]
requires-python = ">=3.10"
dependencies = [
    "copier>=9.3.1",
    "questionary>=2.0.1",
    "loguru>=0.7.2",
    "fire>=0.7.0"
]

[project.urls]
repository = "https://github.com/cvxgrp/cradle"

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
    "pre-commit>=4.0.1",
    "pytest-mock"
]

[project.scripts]
qcradle = "cradle.cli:main"

[tool.ruff]
line-length = 120
target-version = "py310"
exclude = [
    "*__init__.py"
]

[tool.ruff.lint]
select = ["E", "F", "I"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cradle"]

[tool.hatch.build]
include = [
    "LICENSE",    # Ensure the LICENSE file is included in your package
    "README.md",
    "src/cradle",
]
