# [Demo](https://github.com/cvxgrp/cov_pred_finance_paper/raw/draft_arxiv/cov_pred_finance.pdf)

Fix the links in this

[![Build LaTeX document](https://github.com/cvxgrp/cov_pred_finance_paper/actions/workflows/latex.yml/badge.svg)](https://github.com/cvxgrp/cov_pred_finance_paper/actions/workflows/latex.yml)
[![arXiv](https://img.shields.io/badge/arXiv-2305.19484-b31b1b.svg)](https://arxiv.org/abs/2305.19484)

## Link to a companion Python package
Companion [Python package](https://github.com/cvxgrp/cov_pred_finance)


## Link to a published article
[FnT Article](https://github.com/cvxgrp/cov_pred_finance_paper/raw/draft_main2/main2.pdf)

## Abstract

Some abstract
