# [Demo]({{ repository }}/blob/draft/main1.pdf)remo

Remove or replace the arxiv link

[![arXiv](https://img.shields.io/badge/arXiv-2305.19484-b31b1b.svg)](https://arxiv.org/abs/2305.19484)


## Link to a companion Python package

Please correct the link as you wish

Companion [Python package](https://github.com/{{ username }})


## Link to a published article
[FnT Article]({{ repository }}/blob/draft_main2/main2.pdf)

## Abstract

Some abstract
