name: pre-commit

on:
  push:

permissions:
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.3

      - uses: cvxgrp/.github/actions/coverage@v2.2.3
        with:
          source-folder: src/cradle
          tests-folder: src/tests

  deptry:
    runs-on: ubuntu-latest
    steps:
      - name: "Build the virtual environment for ${{ github.repository }}"
        uses: cvxgrp/.github/actions/environment@v2.2.1

      - uses: cvxgrp/.github/actions/deptry@v2.2.1
        with:
          source-folder: src/cradle

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: cvxgrp/.github/actions/pre-commit@v2.2.1
